<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食1</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜1</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜zx</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>美食</string>
		<key>subcategories</key>
		<array>
			<string>贵州菜</string>
			<string>陕西菜</string>
			<string>卤菜</string>
			<string>广西菜</string>
			<string>台湾菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
			<string>贵州菜</string>
		</array>
	</dict>
</array>
</plist>
